:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: #282C33;
    color: white;
  }
  
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    width: 900px;
    height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    align-self: flex;
  }

  .coin-input{
    font-size: 1em;
    align-self: flex;
    text-align: center;
  }
  
  form {
    align-self: flex-start;
    display: flex;
    align-items: flex-end;
    margin-bottom: 57px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 60px;
    justify-content: space-between;
  }
  
  input {
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
    border: none;
    width: 171px;
    height: 40px;
    font-size: 30px;
    padding-left: 20px;
  }
  
  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .search-btn {
    background: #96EB95;
    border: 1px solid #96EB95;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #373737;
    /* margin-left: 1px; */
    width: 170px;
    height: 40px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #65a372;
  }
  
  .coins-section {
    background: rgba(255, 255, 255, 0.06);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .coins {
    padding: 0 20px;
    list-style: none;
    height: 500px;
    align-self: stretch;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .green {
    color: #96EB95;
  }
  
  .yellow {
    color: yellow;
  }
  
  li {
    width: 150px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px 20px;
  }